body {
  background-color: #f8f9fa;
  font-size: 16px;
  color: #444;
  font: normal 16px/26px system-ui, Roboto, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.103);
  width: 80%;
  margin: 0 auto;
}
main,
footer {
  margin-top: 3%;
}
header h1,
header h3 {
  text-align: center;
}
header nav {
  background-color: #ce7070;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  color: white;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 20px;
}
.none {
  list-style: none;
  text-decoration: none;
  padding: 20px;
}
header nav ul li a:hover {
  color: rgb(0, 0, 0);
}
#main {
  display: flex;
}
aside {
  order: 1;
  flex: 1.2;
  justify-content: center;
  height: 480px;
}
article {
  order: 2;
  flex: 4;
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.233);
}
.title {
  color: rgb(0, 0, 0);
  font-size: 18px;
  display: block;
}
.title:hover {
  color: rgb(255, 111, 111);
}
footer {
  background-color: #ce7070;
  color: white;
  display: flex;
  justify-content: center;
}
.content {
  height: 100%;
  margin: 0 10px;
  font-size: 13pt;
}
ctn {
  background-color: rgba(253, 227, 227, 0.295);
  border-radius: 5px;
  border: 1px solid rgba(253, 227, 227, 0.295);
}
.content .head-artikel {
  background-color: #c98a8a;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.content .home {
  display: flex;
  justify-content: center;
}
.content .home .text {
  width: 70%;
  text-align: center;
  justify-content: center;
  display: flex;
}
}
.content .item {
  display: flex;
  margin: 3px;
  margin-top: 20px;
  width: 100%;
}
.content .item .thumb {
  height: 127px;
  flex: 1;
}
.content .item .inf {
  height: 127px;
  flex: 8;
  overflow: visible;
  margin-left: 10px;
}
.content .item .inf .headline a {
  font-size: larger;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
}
.content .item .inf .headline a:hover {
  font-size: x-large;
  color: #ce7070;
}
.content .item .inf .cont p {
  font-size: 0.8em;
  margin: 0;
}
.content .item .thumb img {
  height: 100%;
}
.content .item .thumb img:hover {
  height: 103%;
}
.img-cover {
  display: flex;
  justify-content: center;
  font-size: 13pt;
}
.img-cover img {
  width: 95%;
  font-size: 13pt;
}
input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'],
.ss,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input {
  display: block;
  padding-bottom: 20px;
}
.input.success input {
  border: 2px solid #2ecc71;
}
.input.error input {
  border: 2px solid #e74c3c;
}
.input.success .radio {
  border: 2px solid #2ecc71;
}
.input.error .radio {
  border: 2px solid #e74c3c;
}
.input small {
  visibility: hidden;
  position: absolute;
}
.input.error small {
  color: #e74c3c;
  visibility: visible;
}
.radio {
  background-color: white;
  width: 49%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='submit'],
button[type='submit'] {
  width: 100%;
  background-color: #57ce4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type='submit'],
button[type='submit']:hover {
  background-color: #18cf00;
}
.form {
  width: 400px;
  margin: 70px auto;
  border-radius: 5px;
  background-color: #c98a8a42;
  padding: 20px;
}
.form2 {
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #c98a8a42;
  padding: 20px;
}
.form h3,
.form p,
.form h2,
.form2 h2 {
  text-align: center;
}
.form a {
  text-decoration: none;
}
